<div class="container-fluid">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-center">Create New Appointment</h3>
        </div>
    </div>

    <form name="modalInputForm" novalidate ng-submit="modalInputForm.$valid && myAdd()">
        <div class="modal-body">
            <div class="form-group">
                <label class="text-center">Appointment Type</label>
                <select class="form-control" ng-model="selectedType" ng-options="type.name for type in types track by type.id"></select>
            </div>
            <div class="form-group">
                <label class="text-center">Name</label>
                <input type="text" placeholder="Your Name" class="form-control" ng-model="user.name" required name="name" ng-maxlength="15"/>
                <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.name.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.name.$error.maxlength">Field cannot contain more then 15 characters</span>
            </div>

            <div class="form-group">
                <label class="text-center">Phone Number</label>
                <input type="text" placeholder="Phone" name="phoneNumber" class="form-control" ng-model="user.phone" required ng-pattern="/^(0|[0-9][0-9]*)$/"/>
                <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.phoneNumber.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.phoneNumber.$error.pattern">Enter valid phone number</span>
            </div>

            <div class="form-group">
                <label class="text-center">Email</label>
                <input type="email" placeholder="Email" class="form-control" ng-model="user.email" name="email" required/>
                <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.email.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.email.$error.email">Enter valid E-mail</span>
            </div>


        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="modalInputForm.$submitted" type="submit">Save</button>
        </div>
    </form>

</div>